<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
        <div class="jumbotron">
            <h1 class="display-4">Perzonaliza tu playera aqui</h1>
            <p class="lead">Utiliza nuestra herramienta de playeras interactiva</p>
            <hr class="my-4">
            <p></p>
            <a class="btn btn-primary btn-lg" href="#" role="button">Crear Playera</a>
          </div>
    </div>
    <div class="carousel-item">
        <div class="jumbotron">
            <h1 class="display-4">eLiga MX Realmente fue la solución</h1>
            <p class="lead">Ante la pandemia covid-19 la liga MX lanza e-Liga</p>
            <hr class="my-4">
            <p>La e-Liga nace como una oportunidad mediante la pandemia del covid 19, pero realmente tiene impacto en los aficionados?.</p>
            <a class="btn btn-primary btn-lg" href="#" role="button">Leer Articulo</a>
          </div>
    </div>
    <div class="carousel-item">
        <div class="jumbotron">
            <h1 class="display-4">Catalogo de Playeras</h1>
            <p class="lead">Consigue tu playera Favorita.</p>
            <hr class="my-4">
            <p></p>
            <a class="btn btn-primary btn-lg" href="#" role="button">Catalogo</a>
          </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
