<div class="jumbotron">
    <h1 class="display-4">eLiga MX Realmente fue la solución</h1>
    <p class="lead">Ante la pandemia covid-19 la liga MX lanza e-Liga</p>
    <hr class="my-4">
    <p>La e-Liga nace como una oportunidad mediante la pandemia del covid 19, pero realmente tiene impacto en los aficionados?.</p>
    <a class="btn btn-primary btn-lg" href="#" role="button">Leer Articulo</a>
  </div>

  <div class="row ">
    <div class="col-sm-6">
    <div class="card" style="width: 18rem;">
         <!-- <img src="..." class="card-img-top" alt="...">-->
        <i class="fas fa-running fa-3x" ></i>
        <div class="card-body">
          <h5 class="card-title">eLiga MX y aficionados</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <p class="card-text"><small class="text-muted">by Edgar Molina</small></p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6 ">
      <div class="card" style="width: 18rem;">
        <i _ngcontent-qcm-c1="" class="fas fa-futbol fa-3x" aria-hidden="true"></i>
       <!-- <img src="..." class="card-img-top" alt="...">-->
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <p class="card-text"><small class="text-muted">by zesar vazquez</small></p>  
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
      </div>
</div>